* {
    margin: 0 auto;
    font-family: 'Press Start 2P', cursive;
}

html{ 
    background: url("space.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

canvas {
    opacity: 0;
}

/*Wrapper*/
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

/*Pocetna stranica*/
.landing-page {
    margin-top: 320px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

/*Header stranice*/
.landing-page h1 {
    color: #f2f2f2;
    font-family: 'Press Start 2P', cursive;
    font-size: 100px;
    
    /*Zabrana highlight teksta*/
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

/*Start*/
#start {
    margin-top: 3%;
}

/*Start dugme*/
.landing-page a {
    text-decoration: none;
    color: #f2f2f2;
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
}

/*Input imena i difficulty*/
#unos {
    width: 400px;
    height: 100px;
    margin-top: 50px;
    color: #f2f2f2;
}

/*Ime*/
#ime {
    margin-bottom: 15px;
}

#ime input {
    border: 1px solid #f2f2f2;
    padding: 10px 12px 10px 12px;
    margin-left: 10px;
    border-radius: 0px;
    color:  #f2f2f2;
    background-color: rgba(255, 255, 255, 0);
}

input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0);
}

/*Difficulty + ime*/
#ime, #difficulty {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Label za difficulty*/
#diff-label {
    margin-right: 95px;
}

/*Select difficulty*/
#diff {
    padding: 10px 12px 10px 12px;
    border: 1px solid #f2f2f2;
    background-color: rgba(255, 255, 255, 0);
    color: #f2f2f2;
}

#diff option {
    color: black;
    background-color: #f2f2f2;
}

/*Continue*/
#continue {
    margin-top: 30px;
}

/*Continue dugme*/
#continue a {
    text-decoration: none;
    color: #f2f2f2;
    padding: 10px 12px 10px 12px;
    border: none;
    transition: all 0.5s;
}

#continue a:hover {
    background-color: #f2f2f2;
    color: black;
}

/*Game Over*/
#gameover {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 80px;
    color: #f2f2f2;

    /*Highlight teksta*/
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

/*Restart game*/
#restart {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

/*Restart game dugme*/
#restart a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 23px;
}

#restart a:hover {
    color: #f2f2f2d5;
}

/*Scoreboard*/
.scoreboard {
    margin-top: 10px;
    width: 660px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: end;
    color: #f2f2f2;

    /*Highlight teksta*/
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

/*Media querries*/
@media (max-width: 1000px) {
    #title {
        font-size: 50px;
    }
}